In [1]:
import pandas as pd
import numpy as np

In [2]:
pop1 = pd.read_csv('qgis/최종 1 고령인구.csv',encoding='cp949')
pop3 = pd.read_csv('qgis/최종 3 고령인구.csv',encoding='cp949')

C:\Users\Kang\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4,8,9,10,11,12,13,14,15,16,17,18,19,20,25,26,28,31,32,33,40,41,42,44,45,52) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Kang\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,8,9,10,11,12,13,14,15,16,17,18,19,20,24,25,26,28,31,32,33,40,41,42,44,45,46,47,48,49,50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
pop1

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,layer,path,ringId,distance,fid_2,gid,lbl,val,layer_2,path_2
0,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,820,다라51aa91ba,6.0,6.0,담양250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
1,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,821,다라51aa91bb,22.0,22.0,담양250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
2,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,822,다라51aa92aa,12.0,12.0,담양250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
3,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,823,다라51aa92ab,NaN,NaN,담양250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
4,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,824,다라51aa92ba,NaN,NaN,담양250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43866,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,14017,나라69ba47aa,NaN,NaN,신안250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
43867,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,14018,나라69ba47ab,NaN,NaN,신안250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
43868,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,14019,나라69ba47ba,NaN,NaN,신안250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
43869,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,14020,나라69ba47bb,NaN,NaN,신안250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...
43870,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,14160,나라69bb47bb,NaN,NaN,신안250,C:/총프로젝트 데이터/고령 데이터_250M/(B100)국토통계_인구정보-고령 인구...

In [4]:
pop1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43871 entries, 0 to 43870
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fid           43871 non-null  int64
 1   field_1       777 non-null    float64
 2   Unnamed: 0    777 non-null    float64
 3   약국명_y         777 non-null    object
 4   주소_y          777 non-null    object
 5   전화번호          5125 non-null   object
 6   좌표정보(X)       777 non-null    float64
 7   좌표정보(Y)       777 non-null    float64
 8   월요일 운영        777 non-null    object
 9   화요일 운영        777 non-null    object
 10  수요일 운영        777 non-null    object
 11  목요일 운영        777 non-null    object
 12  금요일 운영        777 non-null    object
 13  토요일 운영        777 non-null    object
 14  일요일 운영        777 non-null    object
 15  공휴일 운영        777 non-null    object
 16  시도명           14582 non-null  object
 17  시군구명          14582 non-null  object
 18  읍면명           14582 non-null  object
 19  회관명           14582 non-null  object
 20  소재지           14582 non-null  object
 21  Latitude      43094 non-null  float64
 22  Longitude     43094 non-null  float64
 23  규모(제곱미터)      14582 non-null  float64
 24  데이터기준일자       22712 non-null  object
 25  마을회관명         3715 non-null   object
 26  소재지도로명주소      3715 non-null   object
 27  회원수           3715 non-null   float64
 28  대표자           3715 non-null   object
 29  대지면적          3715 non-null   float64
 30  건축면적          3715 non-null   float64
 31  경로당명          20382 non-null  object
 32  주소            20382 non-null  object
 33  연락처           15976 non-null  object
 34  연번            4348 non-null   float64
 35  명칭            0 non-null      float64
 36  관장            0 non-null      float64
 37  시설소재지         0 non-null      float64
 38  시설설치일         0 non-null      float64
 39  위탁 또는 운영단체    0 non-null      float64
 40  보건소명          67 non-null     object
 41  일반전화          67 non-null     object
 42  팩스            67 non-null     object
 43  우편번호          67 non-null     float64
 44  도로명주소         67 non-null     object
 45  위치            67 non-null     object
 46  시군명           4348 non-null   object
 47  기관장           4348 non-null   object
 48  기관명           4348 non-null   object
 49  소재지 (도로명 주소)  4348 non-null   object
 50  진료과목          4348 non-null   object
 51  진료시간          4348 non-null   object
 52  비고            1645 non-null   object
 53  layer         43871 non-null  object
 54  path          43871 non-null  object
 55  ringId        43871 non-null  int64
 56  distance      43871 non-null  int64
 57  fid_2         43871 non-null  int64
 58  gid           43871 non-null  object
 59  lbl           7022 non-null   float64
 60  val           15459 non-null  float64
 61  layer_2       43871 non-null  object
 62  path_2        43871 non-null  object
dtypes: float64(19), int64(4), object(40)
memory usage: 21.1+ MB

In [5]:
pop1_1 = pop1[['fid','약국명_y','주소_y','전화번호','좌표정보(X)','좌표정보(Y)','val','layer_2']]
pop1_1

,fid,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),val,layer_2
0,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,6.0,담양250
1,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,22.0,담양250
2,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,12.0,담양250
3,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,NaN,담양250
4,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,NaN,담양250
...,...,...,...,...,...,...,...,...
43866,1574,NaN,NaN,061-261-1606,NaN,NaN,NaN,신안250
43867,1574,NaN,NaN,061-261-1606,NaN,NaN,NaN,신안250
43868,1574,NaN,NaN,061-261-1606,NaN,NaN,NaN,신안250
43869,1574,NaN,NaN,061-261-1606,NaN,NaN,NaN,신안250
43870,1574,NaN,NaN,061-261-1606,NaN,NaN,NaN,신안250

In [6]:
pop1_1 = pop1_1.dropna(subset=['약국명_y'])
pop1_1

,fid,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),val,layer_2
0,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,6.0,담양250
1,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,22.0,담양250
2,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,12.0,담양250
3,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,NaN,담양250
4,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,NaN,담양250
...,...,...,...,...,...,...,...,...
772,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,10.0,담양250
773,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,0.0,담양250
774,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,NaN,담양250
775,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,19.0,담양250
776,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,9.0,담양250

In [7]:
pop1_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777 entries, 0 to 776
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   fid      777 non-null    int64
 1   약국명_y    777 non-null    object
 2   주소_y     777 non-null    object
 3   전화번호     777 non-null    object
 4   좌표정보(X)  777 non-null    float64
 5   좌표정보(Y)  777 non-null    float64
 6   val      419 non-null    float64
 7   layer_2  777 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 54.6+ KB

In [8]:
pop1_1 = pop1_1.fillna(0)
pop1_1

,fid,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),val,layer_2
0,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,6.0,담양250
1,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,22.0,담양250
2,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,12.0,담양250
3,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,0.0,담양250
4,35,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,0.0,담양250
...,...,...,...,...,...,...,...,...
772,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,10.0,담양250
773,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,0.0,담양250
774,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,0.0,담양250
775,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,19.0,담양250
776,754,한재약국,"전라남도 담양군 대전면 추성1로 190,",061-383-2896,126.887137,35.276294,9.0,담양250

In [9]:
pop1_1.groupby(['fid','약국명_y','주소_y','좌표정보(X)','좌표정보(Y)','layer_2']).sum('val')

                                                                     val
fid 약국명_y  주소_y                      좌표정보(X)    좌표정보(Y)   layer_2
35  고서약국   전라남도 담양군 고서면 가사문학로 329    126.973754 35.223375 담양250    365.0
58  구영약국   전라남도 신안군 암태면 중부로 1820-4   126.114575 34.828926 신안250    129.0
129 담양유명약국 전라남도 담양군 수북면 추성1로 734     126.931806 35.301802 담양250    518.0
217 미래약국   전라남도 함평군 해보면 밀재로 1293     126.604865 35.181045 함평250    515.0
321 새태평양약국 전라남도 함평군 나산면 나산길 58 (나산면) 126.610922 35.112403 함평250    254.0
352 세명약국   전라남도 신안군 비금면 송치길 155-19,  125.932763 34.721212 신안250    164.0
383 수북좋은약국 전라남도 담양군 수북면 한수동로 564-1,  126.930540 35.302193 담양250    463.0
511 우리약국   전라남도 담양군 고서면 원등1길 4       126.974075 35.223217 담양250    365.0
536 유한약국   전라남도 신안군 임자면 임자로 146,     126.107186 35.086467 신안250    235.0
685 태원약국   전라남도 담양군 대전면 추성1로 198     126.887941 35.276694 담양250    513.0
688 태평양약국  전라남도 함평군 나산면 나산길 64       126.610922 35.112403 함평250    254.0
754 한재약국   전라남도 담양군 대전면 추성1로 190,    126.887137 35.276294 담양250    506.0

In [10]:
pop1_2 = pop1[['시도명','시군구명','읍면명','회관명','소재지','Latitude','Longitude','val','layer_2']]
pop1_2

       시도명 시군구명  읍면명  회관명  소재지   Latitude   Longitude   val layer_2
0      NaN  NaN  NaN  NaN  NaN        NaN         NaN   6.0   담양250
1      NaN  NaN  NaN  NaN  NaN        NaN         NaN  22.0   담양250
2      NaN  NaN  NaN  NaN  NaN        NaN         NaN  12.0   담양250
3      NaN  NaN  NaN  NaN  NaN        NaN         NaN   NaN   담양250
4      NaN  NaN  NaN  NaN  NaN        NaN         NaN   NaN   담양250
...    ...  ...  ...  ...  ...        ...         ...   ...     ...
43866  NaN  NaN  NaN  NaN  NaN  34.812837  126.066108   NaN   신안250
43867  NaN  NaN  NaN  NaN  NaN  34.812837  126.066108   NaN   신안250
43868  NaN  NaN  NaN  NaN  NaN  34.812837  126.066108   NaN   신안250
43869  NaN  NaN  NaN  NaN  NaN  34.812837  126.066108   NaN   신안250
43870  NaN  NaN  NaN  NaN  NaN  34.812837  126.066108   NaN   신안250

[43871 rows x 9 columns]

In [11]:
pop1_2 = pop1_2.dropna(subset=['회관명'])
pop1_2

,시도명,시군구명,읍면명,회관명,소재지,Latitude,Longitude,val,layer_2
777,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
778,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,NaN,담양250
779,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,7.0,담양250
780,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
781,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,NaN,담양250
...,...,...,...,...,...,...,...,...,...
15354,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,NaN,담양250
15355,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,NaN,담양250
15356,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,NaN,담양250
15357,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,NaN,담양250
15358,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,NaN,담양250

In [12]:
pop1_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14582 entries, 777 to 15358
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        14582 non-null  object
 1   시군구명       14582 non-null  object
 2   읍면명        14582 non-null  object
 3   회관명        14582 non-null  object
 4   소재지        14582 non-null  object
 5   Latitude   14582 non-null  float64
 6   Longitude  14582 non-null  float64
 7   val        5549 non-null   float64
 8   layer_2    14582 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.1+ MB

In [13]:
pop1_2.fillna(0)

,시도명,시군구명,읍면명,회관명,소재지,Latitude,Longitude,val,layer_2
777,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
778,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
779,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,7.0,담양250
780,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
781,전라남도,담양군,담양읍,연화촌 마을회관,전라남도 담양군 담양읍 금월1리 472-5,35.334122,127.017723,0.0,담양250
...,...,...,...,...,...,...,...,...,...
15354,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,0.0,담양250
15355,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,0.0,담양250
15356,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,0.0,담양250
15357,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,0.0,담양250
15358,전라남도,담양군,대전면,계곡 마을회관,전라남도 대전면 갑향2리 225-1,35.286186,126.902177,0.0,담양250

In [14]:
pop1_2.groupby(['회관명','소재지','Latitude','Longitude','layer_2']).sum('val')

                                                              val
회관명      소재지                  Latitude  Longitude  layer_2
가곡 마을회관  전라남도 월산면 용흥2리 298-3  35.340213 126.954720 담양250    238.0
가라실 마을회관 전라남도 금성면 봉황1리 284    35.343382 127.025513 담양250    269.0
가흥 마을회관  전라남도 대덕면 비차2리 426    35.249425 127.037012 담양250    125.0
갈전 마을회관  전라남도 대전면 월본2리 727    35.274936 126.887950 담양250    464.0
강의 마을회관  전라남도 대전면 강의리 300-1   35.266336 126.903109 담양250    266.0
...                                                           ...
홍암 마을회관  전라남도 월산면 용암2리 205-1  35.340213 126.954720 담양250    238.0
화암 마을회관  전라남도 가사문학면 화암리 340-1 35.177466 127.027871 담양250    101.0
         전라남도 대전면 평장2리 268    35.287425 126.881223 담양250    167.0
황덕 마을회관  전라남도 수북면 황금리 298-5   35.262903 126.927008 담양250    243.0
후산 마을회관  전라남도 고서면 산덕2리 432-2  35.223526 126.973156 담양250    356.0

[219 rows x 1 columns]

In [15]:
pop1_3 = pop1[['Latitude','Longitude','경로당명','주소','연락처','val','layer_2']]
pop1_3

        Latitude   Longitude 경로당명   주소  연락처   val layer_2
0            NaN         NaN  NaN  NaN  NaN   6.0   담양250
1            NaN         NaN  NaN  NaN  NaN  22.0   담양250
2            NaN         NaN  NaN  NaN  NaN  12.0   담양250
3            NaN         NaN  NaN  NaN  NaN   NaN   담양250
4            NaN         NaN  NaN  NaN  NaN   NaN   담양250
...          ...         ...  ...  ...  ...   ...     ...
43866  34.812837  126.066108  NaN  NaN  NaN   NaN   신안250
43867  34.812837  126.066108  NaN  NaN  NaN   NaN   신안250
43868  34.812837  126.066108  NaN  NaN  NaN   NaN   신안250
43869  34.812837  126.066108  NaN  NaN  NaN   NaN   신안250
43870  34.812837  126.066108  NaN  NaN  NaN   NaN   신안250

[43871 rows x 7 columns]

In [16]:
pop1_3 = pop1_3.dropna(subset=['경로당명'])
pop1_3

,Latitude,Longitude,경로당명,주소,연락처,val,layer_2
16765,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,NaN,함평250
16766,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,NaN,함평250
16767,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,NaN,함평250
16768,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,NaN,함평250
16769,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,NaN,함평250
...,...,...,...,...,...,...,...
37142,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,13.0,함평250
37143,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,0.0,함평250
37144,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,NaN,함평250
37145,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,7.0,함평250
37146,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,NaN,함평250

In [17]:
pop1_3 = pop1_3.fillna(0)
pop1_3

,Latitude,Longitude,경로당명,주소,연락처,val,layer_2
16765,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,0.0,함평250
16766,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,0.0,함평250
16767,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,0.0,함평250
16768,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,0.0,함평250
16769,35.054433,126.513613,수호,전라남도 함평군 함평읍 함장로 1047-9,061-324-0186,0.0,함평250
...,...,...,...,...,...,...,...
37142,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,13.0,함평250
37143,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,0.0,함평250
37144,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,0.0,함평250
37145,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,7.0,함평250
37146,35.223830,126.601443,덕산,전라남도 함평군 월야면 월야덕산길 6,061-323-5611,0.0,함평250

In [18]:
pop1_3.groupby(['경로당명','주소','Latitude','Longitude','layer_2']).sum('val')

                                                              val
경로당명 주소                       Latitude  Longitude  layer_2
가동   전라남도 함평군 함평읍 가동길 13-4    35.079327 126.477734 함평250    138.0
가야   전라남도 함평군 신광면 신광중앙길 87    35.155495 126.498755 함평250    127.0
가작   전라남도 함평군 함평읍 가작길 33-1    35.074445 126.490467 함평250    114.0
가차   전라남도 함평군 월야면 가차길 38      35.209139 126.629689 함평250    127.0
각궁   전라남도 함평군 해보면 각궁길 45      35.151210 126.546931 함평250      0.0
...                                                           ...
화양   전라남도 함평군 엄다면 화양길 68      35.042012 126.514732 함평250    148.0
회춘동  전라남도 함평군 학교면 회춘동길 2-1    35.012006 126.539939 함평250    375.0
흥용   전라남도 함평군 함평읍 돌머리길 174-5  35.077967 126.489934 함평250    161.0
흥용동  전라남도 함평군 엄다면 영흥길 199-3   34.980321 126.531137 함평250     49.0
     전라남도 함평군 학교면 동림흥용길 32-22 35.008698 126.582646 함평250    133.0

[314 rows x 1 columns]

In [19]:
pop1_4 = pop1[['Latitude','Longitude','보건소명','일반전화','도로명주소']]
pop1_4

        Latitude   Longitude 보건소명 일반전화 도로명주소
0            NaN         NaN  NaN  NaN   NaN
1            NaN         NaN  NaN  NaN   NaN
2            NaN         NaN  NaN  NaN   NaN
3            NaN         NaN  NaN  NaN   NaN
4            NaN         NaN  NaN  NaN   NaN
...          ...         ...  ...  ...   ...
43866  34.812837  126.066108  NaN  NaN   NaN
43867  34.812837  126.066108  NaN  NaN   NaN
43868  34.812837  126.066108  NaN  NaN   NaN
43869  34.812837  126.066108  NaN  NaN   NaN
43870  34.812837  126.066108  NaN  NaN   NaN

[43871 rows x 5 columns]

In [20]:
pop1_4 = pop1_4.dropna(subset=['보건소명'])
pop1_4

        Latitude   Longitude    보건소명          일반전화                  도로명주소
42222  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42223  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42224  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42225  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42226  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
...          ...         ...     ...           ...                    ...
42284  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42285  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42286  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42287  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004
42288  34.833572  126.352547  신안군보건소  061-271-1004  전라남도 신안군 압해읍 천사로 1004

[67 rows x 5 columns]

In [21]:
pop1_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 42222 to 42288
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   67 non-null     float64
 1   Longitude  67 non-null     float64
 2   보건소명       67 non-null     object
 3   일반전화       67 non-null     object
 4   도로명주소      67 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.1+ KB

In [22]:
pop1_5 = pop1[['Latitude','Longitude','시군명','기관명','소재지 (도로명 주소)','val','layer_2']]
pop1_5

,Latitude,Longitude,시군명,기관명,소재지 (도로명 주소),val,layer_2
0,NaN,NaN,NaN,NaN,NaN,6.0,담양250
1,NaN,NaN,NaN,NaN,NaN,22.0,담양250
2,NaN,NaN,NaN,NaN,NaN,12.0,담양250
3,NaN,NaN,NaN,NaN,NaN,NaN,담양250
4,NaN,NaN,NaN,NaN,NaN,NaN,담양250
...,...,...,...,...,...,...,...
43866,34.812837,126.066108,신안군,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,NaN,신안250
43867,34.812837,126.066108,신안군,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,NaN,신안250
43868,34.812837,126.066108,신안군,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,NaN,신안250
43869,34.812837,126.066108,신안군,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,NaN,신안250
43870,34.812837,126.066108,신안군,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,NaN,신안250

In [23]:
pop1_5 = pop1_5.dropna(subset=['기관명'])
pop1_5

        Latitude   Longitude  시군명       기관명          소재지 (도로명 주소)  val layer_2
15359  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  NaN   담양250
15360  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  NaN   담양250
15361  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  NaN   담양250
15362  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  NaN   담양250
15363  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  NaN   담양250
...          ...         ...  ...       ...                   ...  ...     ...
43866  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  NaN   신안250
43867  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  NaN   신안250
43868  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  NaN   신안250
43869  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  NaN   신안250
43870  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  NaN   신안250

[4348 rows x 7 columns]

In [24]:
pop1_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4348 entries, 15359 to 43870
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Latitude      4348 non-null   float64
 1   Longitude     4348 non-null   float64
 2   시군명           4348 non-null   object
 3   기관명           4348 non-null   object
 4   소재지 (도로명 주소)  4348 non-null   object
 5   val           1281 non-null   float64
 6   layer_2       4348 non-null   object
dtypes: float64(3), object(4)
memory usage: 271.8+ KB

In [25]:
pop1_5 = pop1_5.fillna(0)
pop1_5

        Latitude   Longitude  시군명       기관명          소재지 (도로명 주소)  val layer_2
15359  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  0.0   담양250
15360  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  0.0   담양250
15361  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  0.0   담양250
15362  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  0.0   담양250
15363  35.274373  126.955583  담양군    봉산보건지소    전라남도 담양군 봉산면 신학길 8  0.0   담양250
...          ...         ...  ...       ...                   ...  ...     ...
43866  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  0.0   신안250
43867  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  0.0   신안250
43868  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  0.0   신안250
43869  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  0.0   신안250
43870  34.812837  126.066108  신안군  추포도보건진료소  전라남도 신안군 암태면 승봉로 491  0.0   신안250

[4348 rows x 7 columns]

In [26]:
pop1.keys()

Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', '시도명', '시군구명', '읍면명', '회관명', '소재지', 'Latitude',
       'Longitude', '규모(제곱미터)', '데이터기준일자', '마을회관명', '소재지도로명주소', '회원수', '대표자',
       '대지면적', '건축면적', '경로당명', '주소', '연락처', '연번', '명칭', '관장', '시설소재지', '시설설치일',
       '위탁 또는 운영단체', '보건소명', '일반전화', '팩스', '우편번호', '도로명주소', '위치', '시군명', '기관장',
       '기관명', '소재지 (도로명 주소)', '진료과목', '진료시간', '비고', 'layer', 'path', 'ringId',
       'distance', 'fid_2', 'gid', 'lbl', 'val', 'layer_2', 'path_2'],
      dtype='object')

In [27]:
pop3.keys()

Index(['fid', 'field_1', 'Unnamed: 0', '약국명_y', '주소_y', '전화번호', '좌표정보(X)',
       '좌표정보(Y)', '월요일 운영', '화요일 운영', '수요일 운영', '목요일 운영', '금요일 운영', '토요일 운영',
       '일요일 운영', '공휴일 운영', '시도명', '시군구명', '읍면명', '회관명', '소재지', 'Latitude',
       'Longitude', '규모(제곱미터)', '데이터기준일자', '마을회관명', '소재지도로명주소', '회원수', '대표자',
       '대지면적', '건축면적', '경로당명', '주소', '연락처', '연번', '명칭', '관장', '시설소재지', '시설설치일',
       '위탁 또는 운영단체', '보건소명', '일반전화', '팩스', '우편번호', '도로명주소', '위치', '시군명', '기관장',
       '기관명', '소재지 (도로명 주소)', '진료과목', '진료시간', '비고', 'layer', 'path', 'ringId',
       'distance', 'fid_2', 'gid', 'lbl', 'val', 'layer_2', 'path_2'],
      dtype='object')

In [28]:
layer = list(pop1['layer'].unique())
layer

['1차 설치지역(휴안바깥약국)',
 '경로담_담양',
 '전라남도보건지소현황_20210801 - 전라남도보건지소현황_20210801',
 '전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801',
 '경로당_함평',
 '경로당_신안',
 '전라남도_보건소현황_20210801 - 전라남도_보건소현황_20210801']

In [29]:
pop1['layer_2'].unique()

array(['담양250', '신안250', '함평250'], dtype=object)

In [30]:
layer[0]

'1차 설치지역(휴안바깥약국)'

In [31]:
pop1_drugstore = pop1[pop1['layer']==layer[0]]
pop1_welfare_DamYang = pop1[pop1['layer']==layer[1]]
pop1_healthB = pop1[pop1['layer']==layer[2]]
pop1_healthC = pop1[pop1['layer']==layer[3]]
pop1_welfare_HamPyeong = pop1[pop1['layer']==layer[4]]
pop1_welfare_ShinAhn = pop1[pop1['layer']==layer[5]]
pop1_healthA = pop1[pop1['layer']==layer[6]]

In [32]:
pop1_drugstore = pop1_drugstore[['약국명_y','layer_2','좌표정보(X)','좌표정보(Y)','gid','val']]
pop1_drugstore.rename(columns={'약국명_y':'name',
                               '좌표정보(X)':'Longitude',
                               '좌표정보(Y)':'Latitude'}
                      ,inplace=True)
pop1_drugstore

     name layer_2   Longitude   Latitude         gid   val
0    고서약국   담양250  126.973754  35.223375  다라51aa91ba   6.0
1    고서약국   담양250  126.973754  35.223375  다라51aa91bb  22.0
2    고서약국   담양250  126.973754  35.223375  다라51aa92aa  12.0
3    고서약국   담양250  126.973754  35.223375  다라51aa92ab   NaN
4    고서약국   담양250  126.973754  35.223375  다라51aa92ba   NaN
..    ...     ...         ...        ...         ...   ...
772  한재약국   담양250  126.887137  35.276294  다라45aa98aa  10.0
773  한재약국   담양250  126.887137  35.276294  다라45aa98ab   0.0
774  한재약국   담양250  126.887137  35.276294  다라45aa98ba   NaN
775  한재약국   담양250  126.887137  35.276294  다라45ab97bb  19.0
776  한재약국   담양250  126.887137  35.276294  다라45ab98aa   9.0

[777 rows x 6 columns]

In [33]:
pop1_welfare_DamYang = pop1_welfare_DamYang[['회관명','layer_2','Longitude','Latitude','gid','val']]
pop1_welfare_DamYang.rename(columns={'회관명':'name'},inplace=True)
pop1_welfare_DamYang

           name layer_2   Longitude   Latitude         gid  val
777    연화촌 마을회관   담양250  127.017723  35.334122  다마55aa04aa  0.0
778    연화촌 마을회관   담양250  127.017723  35.334122  다마55aa04ab  NaN
779    연화촌 마을회관   담양250  127.017723  35.334122  다마55aa04ba  7.0
780    연화촌 마을회관   담양250  127.017723  35.334122  다마55aa04bb  0.0
781    연화촌 마을회관   담양250  127.017723  35.334122  다마55ab03ba  NaN
...         ...     ...         ...        ...         ...  ...
15354   계곡 마을회관   담양250  126.902177  35.286186  다마45aa00aa  NaN
15355   계곡 마을회관   담양250  126.902177  35.286186  다마45ab00aa  NaN
15356   계곡 마을회관   담양250  126.902177  35.286186  다마45ba00aa  NaN
15357   계곡 마을회관   담양250  126.902177  35.286186  다마45bb00aa  NaN
15358   계곡 마을회관   담양250  126.902177  35.286186  다마46aa00aa  NaN

[14582 rows x 6 columns]

In [34]:
pop1_welfare_DamYang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14582 entries, 777 to 15358
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       14582 non-null  object
 1   layer_2    14582 non-null  object
 2   Longitude  14582 non-null  float64
 3   Latitude   14582 non-null  float64
 4   gid        14582 non-null  object
 5   val        5549 non-null   float64
dtypes: float64(3), object(3)
memory usage: 797.5+ KB

In [35]:
pop1_welfare_HamPyeong = pop1_welfare_HamPyeong[['경로당명','layer_2','Longitude','Latitude','gid','val']]
pop1_welfare_HamPyeong.rename(columns={'경로당명':'name'},inplace=True)
pop1_welfare_HamPyeong

      name layer_2   Longitude   Latitude         gid   val
16765   수호   함평250  126.513613  35.054433  다라09aa73aa   NaN
16766   수호   함평250  126.513613  35.054433  다라09aa73ab   NaN
16767   수호   함평250  126.513613  35.054433  다라09aa73ba   NaN
16768   수호   함평250  126.513613  35.054433  다라09aa73bb   NaN
16769   수호   함평250  126.513613  35.054433  다라09aa74aa   NaN
...    ...     ...         ...        ...         ...   ...
37142   덕산   함평250  126.601443  35.223830  다라19aa92aa  13.0
37143   덕산   함평250  126.601443  35.223830  다라19aa92ab   0.0
37144   덕산   함평250  126.601443  35.223830  다라19aa92ba   NaN
37145   덕산   함평250  126.601443  35.223830  다라19aa92bb   7.0
37146   덕산   함평250  126.601443  35.223830  다라19aa93aa   NaN

[20382 rows x 6 columns]

In [36]:
pop1_welfare_ShinAhn = pop1_welfare_ShinAhn[['마을회관명','layer_2','Longitude','Latitude','gid','val']]
pop1_welfare_ShinAhn.rename(columns={'마을회관명':'name'},inplace=True)
pop1_welfare_ShinAhn

      name layer_2   Longitude   Latitude         gid   val
38507  원심동   신안250  126.191315  35.098625  나라79ba78ba  16.0
38508  원심동   신안250  126.191315  35.098625  나라79ba78bb   NaN
38509  원심동   신안250  126.191315  35.098625  나라79ba79aa   NaN
38510  원심동   신안250  126.191315  35.098625  나라79bb78ab   NaN
38511  원심동   신안250  126.191315  35.098625  나라79bb78ba   NaN
...    ...     ...         ...        ...         ...   ...
42217   마산   신안250  126.249209  34.952552  나라86ab63ba   NaN
42218   마산   신안250  126.249209  34.952552  나라86ba63aa   NaN
42219   마산   신안250  126.249209  34.952552  나라86ba63ab   NaN
42220   마산   신안250  126.249209  34.952552  나라86bb62ba   NaN
42221   마산   신안250  126.249209  34.952552  나라86bb62bb   NaN

[3715 rows x 6 columns]

In [37]:
pop1_healthA = pop1_healthA[['보건소명','layer_2','Longitude','Latitude','gid','val']]
pop1_healthB = pop1_healthB[['기관명','layer_2','Longitude','Latitude','gid','val']]
pop1_healthC = pop1_healthC[['기관명','layer_2','Longitude','Latitude','gid','val']]
pop1_healthA.rename(columns={'보건소명':'name'},inplace=True)
pop1_healthB.rename(columns={'기관명':'name'},inplace=True)
pop1_healthC.rename(columns={'기관명':'name'},inplace=True)

In [38]:
pop1 = pd.concat([pop1_drugstore, pop1_welfare_DamYang,
                  pop1_welfare_ShinAhn,pop1_welfare_HamPyeong,
                  pop1_healthA,pop1_healthB,pop1_healthC],
                 axis=0,
                 ignore_index = True)

In [39]:
pop1

           name layer_2   Longitude   Latitude         gid   val
0          고서약국   담양250  126.973754  35.223375  다라51aa91ba   6.0
1          고서약국   담양250  126.973754  35.223375  다라51aa91bb  22.0
2          고서약국   담양250  126.973754  35.223375  다라51aa92aa  12.0
3          고서약국   담양250  126.973754  35.223375  다라51aa92ab   NaN
4          고서약국   담양250  126.973754  35.223375  다라51aa92ba   NaN
...         ...     ...         ...        ...         ...   ...
43866  추포도보건진료소   신안250  126.066108  34.812837  나라69ba47aa   NaN
43867  추포도보건진료소   신안250  126.066108  34.812837  나라69ba47ab   NaN
43868  추포도보건진료소   신안250  126.066108  34.812837  나라69ba47ba   NaN
43869  추포도보건진료소   신안250  126.066108  34.812837  나라69ba47bb   NaN
43870  추포도보건진료소   신안250  126.066108  34.812837  나라69bb47bb   NaN

[43871 rows x 6 columns]

In [44]:
pop1['index'] = pop1['name'] + str(pop1['Longitude'])

In [45]:
pop1

,name,layer_2,Longitude,Latitude,gid,val,index
0,고서약국,담양250,126.973754,35.223375,다라51aa91ba,6.0,고서약국0 126.973754\n1 126.973754\n...
1,고서약국,담양250,126.973754,35.223375,다라51aa91bb,22.0,고서약국0 126.973754\n1 126.973754\n...
2,고서약국,담양250,126.973754,35.223375,다라51aa92aa,12.0,고서약국0 126.973754\n1 126.973754\n...
3,고서약국,담양250,126.973754,35.223375,다라51aa92ab,NaN,고서약국0 126.973754\n1 126.973754\n...
4,고서약국,담양250,126.973754,35.223375,다라51aa92ba,NaN,고서약국0 126.973754\n1 126.973754\n...
...,...,...,...,...,...,...,...
43866,추포도보건진료소,신안250,126.066108,34.812837,나라69ba47aa,NaN,추포도보건진료소0 126.973754\n1 126.9737...
43867,추포도보건진료소,신안250,126.066108,34.812837,나라69ba47ab,NaN,추포도보건진료소0 126.973754\n1 126.9737...
43868,추포도보건진료소,신안250,126.066108,34.812837,나라69ba47ba,NaN,추포도보건진료소0 126.973754\n1 126.9737...
43869,추포도보건진료소,신안250,126.066108,34.812837,나라69ba47bb,NaN,추포도보건진료소0 126.973754\n1 126.9737...
43870,추포도보건진료소,신안250,126.066108,34.812837,나라69bb47bb,NaN,추포도보건진료소0 126.973754\n1 126.9737...

In [46]:
pop1['index'] = str(pop1['Latitude']) + str(pop1['Longitude'])

In [47]:
pop1['name'].nunique()

638

In [48]:
pop1_ = pop1.groupby(['name','Longitude','Latitude']).sum('val')

In [49]:
pop1_

                                 val
name     Longitude  Latitude
가거도보건지소  125.127100 34.052418   73.0
가곡 마을회관  126.954720 35.340213  238.0
가동       126.477734 35.079327  138.0
가라실 마을회관 127.025513 35.343382  269.0
가란       126.365690 34.874143   30.0
...                              ...
효지       126.252692 35.050568  144.0
후산 마을회관  126.973156 35.223526  356.0
흥용       126.489934 35.077967  161.0
흥용동      126.531137 34.980321   49.0
         126.582646 35.008698  133.0

[684 rows x 1 columns]

In [50]:
pop1_.to_csv('qgis/고령인구3km.csv',encoding='cp949')

In [51]:
access = pd.read_csv('qgis/1버퍼안_접근성_최종.csv',encoding='cp949')
access

,fid,field_1,Unnamed: 0,약국명_y,주소_y,전화번호,좌표정보(X),좌표정보(Y),월요일 운영,화요일 운영,...,기관명,소재지 (도로명 주소),진료과목,진료시간,비고,layer,path,ringId,distance,NUMPOINTS
0,35,42.0,42.0,고서약국,전라남도 담양군 고서면 가사문학로 329,061-381-3338,126.973754,35.223375,08:00~19:00,08:00~19:00,...,NaN,NaN,NaN,NaN,NaN,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,1
1,58,67.0,67.0,구영약국,전라남도 신안군 암태면 중부로 1820-4,061-271-4287,126.114575,34.828926,08:00~20:00,08:00~20:00,...,NaN,NaN,NaN,NaN,NaN,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,8
2,129,145.0,145.0,담양유명약국,전라남도 담양군 수북면 추성1로 734,061-381-6275,126.931806,35.301802,08:30~12:30,08:30~12:30,...,NaN,NaN,NaN,NaN,NaN,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,1
3,217,244.0,244.0,미래약국,전라남도 함평군 해보면 밀재로 1293,061-322-8760,126.604865,35.181045,08:00~18:00,08:00~18:00,...,NaN,NaN,NaN,NaN,NaN,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,15
4,321,359.0,359.0,새태평양약국,전라남도 함평군 나산면 나산길 58 (나산면),061-324-1448,126.610922,35.112403,08:30~17:30,08:30~17:30,...,NaN,NaN,NaN,NaN,NaN,1차 설치지역(휴안바깥약국),C:/Users/82104/Documents/버퍼밖 약국.gpkg|layername...,1,1000,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,1570,NaN,NaN,NaN,NaN,061-262-8734,NaN,NaN,NaN,NaN,...,반월도보건진료소,전라남도 신안군 안좌면 반월도길 211,내과+외과+소아과,09:00~18:00,NaN,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,0
828,1571,NaN,NaN,NaN,NaN,061-262-4381,NaN,NaN,NaN,NaN,...,자라도보건진료소,전라남도 신안군 안좌면 자라도길 16,내과+외과+소아과,09:00~18:00,NaN,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,0
829,1572,NaN,NaN,NaN,NaN,061-246-2711,NaN,NaN,NaN,NaN,...,당사도보건진료소,전라남도 신안군 암태면 당사도길 58-29,내과+외과+소아과,09:00~18:00,NaN,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,0
830,1573,NaN,NaN,NaN,NaN,061-246-2040,NaN,NaN,NaN,NaN,...,사리보건진료소,전라남도 신안군 흑산면 흑산일주로 1501,내과+외과+소아과,09:00~18:00,NaN,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,4
831,1574,NaN,NaN,NaN,NaN,061-261-1606,NaN,NaN,NaN,NaN,...,추포도보건진료소,전라남도 신안군 암태면 승봉로 491,내과+외과+소아과,09:00~18:00,NaN,전라남도보건진료소현황_20210801 - 전라남도보건진료소현황_20210801,file:///C:/%EC%B4%9D%ED%94%84%EB%A1%9C%EC%A0%9...,1,1000,2